@model IEnumerable<FrontEnd.Models.ExpedienteViewModel>

@{
    ViewData["Title"] = "Index";
}


<div class="col-4 mx-auto text-center">
    <h2>Creación</h2>
</div>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<body class="m-0 row justify-content-center">
    <div class="navbar-header">
        <div class="col-4 mx-auto">
            <table class="table table-primary">
    <thead>
        <tr>
                        <th scope="col">
                @Html.DisplayNameFor(model => model.IdExpediente)
            </th>
                        <th scope="col">
                @Html.DisplayNameFor(model => model.IdUsuarioFk)
            </th>
                        <th scope="col">
                @Html.DisplayNameFor(model => model.IdDoctorFk)
            </th>
                        <th scope="col">
                @Html.DisplayNameFor(model => model.Padecimiento)
            </th>
                        <th scope="col">
                @Html.DisplayNameFor(model => model.Tratamiento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdExpediente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuarioFk)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdDoctorFk)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Padecimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tratamiento)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
             </td>
        </tr>
}
    </tbody>

</table>
        </div>
    </div>
</body>
